---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---
<Layout title="Blog">
    <Navbar />

  <div class="flex flex-col items-center justify-center min-h-screen">
    <p class="text-xl">hold on chat</p>
    <br />
    <h1 class="text-4xl mb-2 heading-highlight">let me cook.</h1>
  </div>
</Layout>